/*styles.css to calendar.module.css*/

/* calendar page */
.side-nav {
  margin-top: 2rem;
  margin-left: 5rem;
}

.side-nav li {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.side-nav a:hover {
  border-bottom: #fbdb67 2px solid;
}

.side-nav a:active {
  border-bottom: #fbdb67 2px solid;
}

.rate-box {
  background-color: cadetblue;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

.cal-profile-title {
  border-radius: 50rem;
  border: 1px solid #ddd;
  padding: 0.5rem 1.2rem;
  margin: 1.4rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.cal-profile-box {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.cal-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cal-profile-username {
  font-weight: 500;
  margin: 1.6rem 0;
  font-size: 1.3rem;
}

.cal-profile-username p {
  color: #707070;
}

#cal-house-name {
  background-color: #ffeec3;
}

.cal-side-box {
  width: 20rem;
  margin-bottom: 1.4rem;
  text-align: center;
  border-radius: 1rem;
  padding: 2.4rem 2.2rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  box-shadow: 2px 3px 10px #ffeec3;
}

#calendar-side {
  margin-left: 3rem;
  margin-right: 3rem;
}

#todo-side {
  margin-left: 3rem;
  margin-right: 3rem;
}
