.header {
  z-index: 1000;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  box-shadow: 0 4px 8px -2px gray;
  align-items: center;
  padding: 0 8rem;
}

.logo {
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-right: 5rem;
}
.logo:hover {
  cursor: pointer;
}
.logo > img {
  margin-right: 1rem;
}

.nav {
  display: flex;
  font-size: 2rem;
  width: 100%;
  justify-content: space-between;
}

.left-nav,
.right-nav {
  display: flex;
}

.nav ul li {
  margin: 1rem;
  position: relative;
}

.nav ul li:hover {
  cursor: pointer;
}
.media-nav {
  display: none;
}
@media screen and (max-width: 1200px) {
  .left-nav,
  .right-nav {
    display: none;
  }
  .nav {
    justify-content: flex-end;
  }
  .media-nav {
    display: flex;
    align-items: center;
  }
  .media-nav:hover {
    cursor: pointer;
  }
}
