.button {
  width: 262px;
  border: 0.2rem solid black;
  border-radius: 10rem;
  padding: 1.1rem;
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  width: 262px;
  border: 0.2rem solid black;
  color: white;
  background-color: black;
  border-radius: 10rem;
  padding: 1.1rem;
  font-size: 1.6rem;
}
