@value sectionTitle from "styles/sizes.css";

.container {
  margin: auto;
  padding: 10rem 20rem;
  width: 90rem;
  text-align: center;
}

.title {
  font-size: sectionTitle;
  font-weight: bold;
}

.container > div {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.roommate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-img {
  width: 24.5rem;
  height: 24.5rem;
  object-fit: cover;
  margin: 8.4rem 0;
  border-radius: 50%;
}

.name {
  font-size: 2.2rem;
  padding-bottom: 2.9rem;
}
