button {
  padding: 0.5rem 1.5rem;
  font-size: 1.4rem;
  margin-right: 1rem;
  border-radius: 2rem;
  border: 1px solid #6b6b6b;
}

.selected {
  background-color: #6b6b6b;
  color: white;
}

.not-selected {
  transition: all 0.1s ease-in-out;
}
.not-selected:hover {
  background-color: #6b6b6b;
  color: white;
}
