.main {
  padding-top: 10rem;
  padding-left: 12rem;
}
.meet h2 {
  font-weight: 700;
  font-size: 5rem;
}

.meet p {
  margin: 3rem 0;
  z-index: 1;
  font-size: 2rem;
  color: #535353;
  line-height: 2.5rem;
}
