/* intro page */

#intro-main-todo {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 50rem;
  min-height: 30rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #ffffff;
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.14);
  border-radius: 32px;
  overflow: hidden;
}

#intro-main-todo h6 {
  padding-top: 2rem;
  font-size: 1.8rem;
}

#intro-main-todo h5 {
  margin: 0.8rem;
  font-size: 3rem;
  font-weight: 700;
}

#intro-main-todo p {
  padding-top: 3rem;
  font-size: 2rem;
  font-weight: 500;
}

.main-img-box {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#intro-ment {
  padding: 10rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro-ment h4 {
  font-weight: 700;
  font-size: 6rem;
  color: #9f8bbe;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

#intro-ment h5 {
  font-weight: 600;
  font-size: 3rem;
  color: #575757;
}

#intro-persona h5 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: black;
}

#intro-persona img {
  height: 16rem;
}

#intro-persona-title {
  margin-bottom: 2rem;
  color: #535353;
}

.persona-box {
  background: #bddbff;
  border-radius: 1rem;
  margin: 0 2rem;
  padding: 4rem;
  width: 50rem;
}

.persona-box h6 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
}

.persona-box p {
  font-size: 1.8rem;
  line-height: 1.8rem;
  word-break: keep-all;
}

#intro-persona-title {
  color: #3472ac;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

#intro-persona-title div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 32, 32);
  border-radius: 5rem;
  width: 10rem;
  height: 3rem;
  margin: auto;
}

#intro-persona-title p {
  color: #fff;
  font-size: 1.4rem;
}

#intro-persona-title span {
  font-weight: 700;
  color: black;
}

.intro-persona-box {
  text-align: center;
  padding-top: 5rem;
  background-color: #eee;
  width: 25rem;
  min-height: 20rem;
  border-radius: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  box-shadow: 2px 4px 10px 0px rgb(82 82 82 / 30%);
}

.intro-persona-box h6 {
  margin-bottom: 2rem;
}

.intro-persona-box p {
  padding-top: 1.5rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.intro-persona-box img {
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12rem;
}

#intro-persona-center {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 3rem;
}

#intro-service {
  padding-top: 10rem;
  margin-top: 10rem;
}

#intro-service-text {
  padding-left: 35rem;
}
#intro-service-text h5 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: black;
}

#intro-service-text h6 {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #535353;
  margin-bottom: 2.5rem;
}

#intro-service-text span {
  font-weight: 500;
  color: black;
}

#intro-service-text p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #535353;
}

.intro-service-circle {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  margin: 9rem 1rem 13rem 1rem;
  overflow: hidden;
  background-color: white;
  border: #ddd 1px solid;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
}

.intro-service-circle span {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  color: #474747;
}

.intro-service-circle h6 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.intro-feature h6 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.intro-feature {
  padding: 0 10rem;
}

.intro-feature p {
  font-size: 2rem;
}

.intro-feature span {
  font-size: 4.6rem;
}

#intro-cal-img {
  width: 70rem;
}

#intro-roommate img {
  width: 70rem;
}

#intro-living {
  border-radius: 2rem;
}

#intro-living img {
  width: 70rem;
  border-radius: 1rem;
}

#intro-check img {
  width: 70rem;
}

#intro-feat1 {
  padding: 10rem 0;
  background-color: #bddbff;
}

#intro-feat1 h6 {
  color: #3472ac;
}

#intro-feat1 span {
  color: #3472ac;
}

#intro-feat1 p {
  margin-bottom: 2.4rem;
}

#intro-living {
  margin-left: 12rem;
}

#intro-feat3 {
  padding-top: 15rem;
  background-color: #75aff2;
}

#intro-feat4 {
  background-color: #c1debe;
  padding-top: 10rem;
  padding-bottom: 4rem;
}

#intro-feat4 span,
#intro-feat4 h6 {
  color: #363636;
}

#intro-check {
  margin: 4rem 0;
}

#intro-feat2 {
  padding-top: 15rem;
  background-color: #e9e9e9;
}

#intro-feat2 span,
#intro-feat2 h6 {
  color: #7eac69;
}

#intro-achieve-img {
  top: 45%;
  left: 75%;
}

#intro-achieve-img > img {
  box-shadow: 2px 4px 10px 0px rgb(82 82 82 / 30%);
  border-radius: 1.5rem;
}

.footer-content {
  height: 40rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-title {
  font-size: 4rem;
  font-weight: 600;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
}
.footer-subtitle {
  font-size: 2.5rem;
  margin-left: 5rem;
}

.footer-1 {
  margin-right: 5rem;
}
.footer-li {
  display: flex;
  flex-direction: row;
}

.footer-index {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.footer-li h5 {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.footer-li li.footer-index {
  padding-bottom: 0.3rem;
}
.footer-li li.footer-index a {
  padding-bottom: 0.3rem;
}
.footer-2,
.footer-3,
.footer-4,
.footer-5 {
  margin-right: 5rem;
}
