@value sectionTitle, sectionMaxWidth, sectionMinWidth from "styles/sizes.css";
@value knockGreen from "styles/colors.css";

.container {
  margin: auto;
  padding: 10rem 20rem;
  max-width: sectionMaxWidth;
  min-width: sectionMinWidth;
}

.title {
  font-size: sectionTitle;
  font-weight: bold;
  padding-bottom: 5rem;
  text-align: left;
}

.confirm_btn {
  width: 100%;
  background-color: knockGreen;
  padding: 1.5rem;
  margin: 4.5rem 0;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.8rem;
  transition: all 0.2s ease-in-out;
}

.confirm_btn:disabled {
  background-color: #c9c9c9;
}
